@use "_partiel.scss" as *;

body {
  font: 100% "Space Mono", monospace;
  color: $font-grey;
  margin: 0;
  padding: 0;
  background-color: $background-color;
  overflow-x: hidden;
}
main {
  padding: 0 $padding;
}

article {
  display: flex;
  flex-wrap: wrap;
  section {
    flex-grow: 1;
    flex-basis: 45%;
    border: 1px $border-grey solid;
    @include border-shadow($border-dark-grey);
    padding: $padding;
    margin: 16px;
    clear: both;
    overflow: auto;
    box-sizing: border-box;
    &#selling-points {
      flex-grow: 2;
      flex-basis: 100%;
      code {
        background: $background-black;
        border: 1px solid $border-dark-grey;
        color: $border-grey;
        page-break-inside: avoid;
        font-family: monospace;
        font-size: 15px;
        line-height: 1.6;
        margin-bottom: 1.6em;
        max-width: 100%;
        overflow: auto;
        padding: $padding 1.5em;
        display: block;
        word-wrap: break-word;
        &.before {
          float: left;
          width: 40%;
          &.after {
            float: right;
            width: 40%;
          }
        }
      }
    }
  }
}

h1,
h2,
h3 {
  color: $h-color;
}

h1 {
  text-align: center;
}

h3 {
  text-align: center;
  font-size: 1.5em;
  padding: $padding * 2;
  margin-bottom: 0px;
}

.messages {
  padding: $padding;
}

.success {
  @extend %box;
  background-color: $success-color;
}

.error {
  @extend %box;
  background-color: $error;
  &:hover {
    background-color: $success-color;
  }
}

.warning {
  @extend %box;
  background-color: $warning-color;
}
